/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@font-face {
  font-family: 'Geometria Extra Bold';
  src: url('../fonts/Geometria-ExtraBold.eot');
  src: url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-ExtraBold.woff') format('woff'),
  url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Bold';
  src: url('../fonts/Geometria-Bold.eot');
  src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Bold.woff') format('woff'),
  url('../fonts/Geometria-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Medium';
  src: url('../fonts/Geometria-Medium.eot');
  src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Medium.woff') format('woff'),
  url('../fonts/Geometria-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria Regular';
  src: url('../fonts/Geometria.eot');
  src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria.woff') format('woff'),
  url('../fonts/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 10px;
    line-height: 1.5;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Bootstrap style over
   ========================================================================== */
.bg-dark {
  background-color: #910041!important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-family: 'Geometria Bold', sans-serif;
  transition: all 0.2s;
  white-space: nowrap;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  text-shadow: 0px 3px 10px #000;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
}

.btn {
  border-radius: 16px;
  font-family: 'Geometria Medium', sans-serif;
  font-size: 15px;
  line-height: 32px;
  padding: 0 6rem;
}

.btn:focus {
  box-shadow: none;
}

.btn-primary {
  color: #fff;
  background-color: #910041;
  border-color: #910041;
}

.btn-primary:hover {
  background-color: #740033;
  border-color: #740033;
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #740033;
  border-color: #740033;
}

.btn-secondary {
  background-color: #ffce98;
  border-color: #ffce98;
  color: #000;
  font-family: 'Geometria Extra Bold', sans-serif;
}

.btn-secondary:hover, .btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #feb05a;
  border-color: #feb05a;
  color: #000;
}

.form-control {
  border-radius: 16px;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  padding: 0 20px;
  margin-bottom: 1.5rem;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav-item {
  margin-right: 9px;
}

.nav-item:last-child {
  margin-right: 0;
}

body {
  word-break: break-word;
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Geometria Regular', sans-serif;
}

h2 {
  color: #910041;
  font-family: 'Geometria Extra Bold', sans-serif;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

h3 {
  color: #424242;
  font-family: 'Geometria Extra Bold', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

strong {
  font-family: 'Geometria Extra Bold', sans-serif;
}

header {
  background: url('../img/main-bg.png') center;
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

address {
  color: #1d1d1d;
  font-family: 'Geometria Extra Bold', sans-serif;
  font-size: 17px;
}

address:before {
  content: '';
  background-image: url('../img/icon-map.png');
  display: inline-block;
  height: 28px;
  width: 24px;
  vertical-align: middle;
  margin-right: 5px;
}

header address {
  margin-top: 1.5rem;
}

header .btn {
  margin-top: 4rem;
}

.bg-main {
  background: url('../img/main-bg.png') center;
  background-size: cover;
}

.phone {
  color: #1d1d1d;
  font-family: 'Geometria Medium', sans-serif;
  font-size: 30px;
}

.phone:hover {
  color: #1d1d1d;
  text-decoration: none;
}

.phone:before {
  content: '';
  background-image: url(../img/icon-phone.png);
  display: inline-block;
  height: 33px;
  width: 23px;
  vertical-align: middle;
  margin-right: 5px;
}

.advantages {
  background: url('../img/main-bg.png');
  background-size: cover;
  padding-top: 6.5rem;
  padding-bottom: 1rem;
}

.advantages-item {
  margin-bottom: 5rem;
}

.advantages-item img {
  border-radius: 50%;
  border: 2px solid sandybrown;
  padding: 10px;
  margin-bottom: 1rem;
}

.services {
  background-color: #910041;
  color: #fff;
  padding-top: 2rem;
}

.services h2 {
  color: #fff;
}

.services h3 {
  color: #fff;
  font-family: 'Geometria Medium', sans-serif;
  margin-bottom: 2rem;
}

.services img {
  margin-bottom: 1rem;
}


.weWork {
  background: url('../img/main-bg.png');
  background-size: cover;
  padding-top: 6.5rem;
  padding-bottom: 1rem;
}

.weWork-item img {
  border-radius: 50%;
  border: 2px solid sandybrown;
  padding: 10px;
  margin-bottom: 1rem;
}

.weWork-item {
  margin-bottom: 5rem;
}

.weWork-item:after {
  content: '';
  background-image: url(../img/icon-arrow-right.png);
  height: 39px;
  width: 22px;
  vertical-align: middle;
  position: absolute;
  top: 74px;
  right: -12px;
}

.ourDesigners {
  background: url('../img/bg-designers.jpg');
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-size: cover;
}

.ourDesigners h3 {
  color: #222222;
  font-size: 24px;
  margin-bottom: 1rem;
}

.ourDesigners img {
  border-radius: 50%;
  border: 8px solid #fff;
  margin-bottom: 1rem;
}

.spec {
  background: url('../img/bg-spec.jpg') center;
  background-size: cover;
  color: #fff;
  padding: 3.5rem 0;
}

.spec h2 {
  color: #fff;
  margin-bottom: 2rem;
}

.spec p {
  font-size: 42px;
  line-height: 55px;
}

.break-bg {
  background: url('../img/main-bg.png') center;
  background-size: cover;
  height: 30px;
}

.ourProjects {
  background: url('../img/main-bg.png') center;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 3.5rem;
}

.carousel-controls {
  position: relative;
  padding: 0 56px;
}

.carousel-controls .arrow-left, .carousel-controls .arrow-right {
  cursor: pointer;
  height: 52px;
  width: 30px;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  margin-top: -26px;
}

.carousel-controls .arrow-left:hover, .carousel-controls .arrow-right:hover {
  background-position-y: -52px;
}

.ourProjects .arrow-left, .ourProjects .arrow-right{
  top: 50%;
  margin-top: -56px;
}

.arrow-left {
  background: url('../img/icon-left-hover.png');
  left: 0;
}

.arrow-right {
  background: url('../img/icon-right-hover.png');
  right: 0;
}

.item img {
  margin-bottom: 2rem;
}

.advices {
  background-color: #ffdeba;
  counter-reset: heading;
  padding-top: 3rem;
}

.advices h2 {
  margin-bottom: 7rem;
}

.advices-item h3 {
  font-size: 20px;
  position: relative;
  margin-bottom: 1.5rem;
  min-height: 60px;
  z-index: 1;
}

.advices-item h3:before {
  content: counter(heading);
  counter-increment: heading;
  color: #f2c089;
  position: absolute;
  user-select: none;
  font-size: 141px;
  line-height: 1;
  z-index: -1;
  top: -50px;
  left: -10px;
}

.advices-item p {
  font-size: 15px;
  margin-bottom: 7rem;
}

.videos {
  padding: 5rem 0 5rem;
}

.diplomas {
  background-color: #e1dcd8;
  padding: 2rem 0 8rem;
}

footer {
  background-color: #ffdeba;
  padding: 4rem 0 3rem;
}

.copyright {
  font-size: 14px;
}

.form-primary {
  background-color: #910041;
  border-radius: 10px;
  padding: 2rem 4rem 3rem;
  text-align: left;
}

.form-primary h2 {
  font-size: 26px;
  text-transform: initial;
  margin-bottom: 2rem;
  text-align: center;
}

.form-primary label {
  font-family: 'Geometria Medium', sans-serif;
  font-size: 15px;
}

.form-primary .form-control {
  border-color: #910041;
}

.form-primary .btn {
  margin-top: 1.5rem;
  width: 100%;
}

.form-primary .form-control:focus {
  border-color: #ffce98;
  box-shadow: 0 0 0 0.2rem #ffce98;
}

.form-policy {
  color: #fff;
  display: block;
  font-family: 'Geometria Medium', sans-serif;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  text-decoration: underline;
  margin-top: 2rem;
}

.form-policy:hover {
  color: #fff;
}

.form-policy:before {
  content: '';
  background-image: url('../img/icon-lock.png');
  height: 26px;
  width: 19px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.geo-bold {
  font-family: 'Geometria Bold', sans-serif;
}

.mb-20 {
  margin-bottom: 2rem;
}

.col-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths,
.col-xl-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-5ths {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 768px) {
  .col-md-5ths {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
